---
import Layout from "@layouts/Layout";
import CardList from "@components/CardList";
import { capitalizeFirst, getCitiesFromPosts, getCategoriesFromPosts, getRestaurantsAsCards } from '@utils';
import type { GetStaticPathsItem } from 'src/types';


export async function getStaticPaths() {
  const returnedPaths: GetStaticPathsItem[] = [];
  const allPosts = await Astro.glob('../restaurants/**/*.mdx');
  const uniqueCities = await getCitiesFromPosts(allPosts);

  uniqueCities.forEach((city: string) => {
    const cityPosts = allPosts.filter((post) => post.frontmatter.city === city);
    const uniqueCategories = getCategoriesFromPosts(cityPosts);

    uniqueCategories.forEach((category: string) => {
      const categoryPosts = cityPosts.filter((post) => post.frontmatter.categories.includes(category));

      returnedPaths.push({
        params: { city, category: category.toLowerCase() },
        props: { category, city, City: capitalizeFirst(city), posts: categoryPosts },
      });
    });
  });

  return returnedPaths;
};

const { category, city, City, posts } = Astro.props;
const cards = getRestaurantsAsCards(posts);
---

<Layout title={category}>
  <section class="my-4"><a href={`/${city}`}>⬅︎ Back to {City}</a></section>
  <section class="">
    <h1>{`${category} restaurants in ${City}`}</h1>
  </section>
  <CardList cards={cards} />
</Layout>
