---
import Layout from "@layouts/Layout";
import CardList from "@components/CardList";
import CategoryFilters from "@components/CategoryFilters";

import type { Card } from '@types';

interface Props {
  cards: Card[];
  categories: string[]; // use for filters
  city: string;
  name: string;
  restaurants: Record<string, any>[];
}

const { cards, categories, city, name } = Astro.props;
---

<Layout title={`${name} - Gibble`}>
  <section class="my-4"><a href={'/'}>⬅︎ Back to Home</a></section>
  <h1>{name}</h1>
  <CategoryFilters categories={categories} city={city} />
  <CardList cards={cards} title={`Restaurants in ${name}`} />
</Layout>
